[Desktop Entry]
Type=Application
Terminal=false
Icon=XBoxBurner
Name=XBoxBurner
Exec=XBoxBurner
Comment=Easy to use burner for XBox and XBox360 game images
